<div style="margin-top: 80px;">
    <div class="container-fluid" id="container">
        <div class="card text-center" id="prompt">
            <div class="card-body">
                <h3 style="font-weight: 900; letter-spacing: 2px;">Notification</h3>
                <hr>
                <div class="positive">
                    <p class="lead" style="color: red; text-decoration: underline;"><b>Hey you are supposed to be in contacted with COVID-19 patient.</b></p>
                    <p class="lead"><b>So do the PCR test. Quarentine for 14 days or isolated yourself. Have a balanced diet and take rest.</b></p>
                </div>
                <hr>
                <div class="negative">
                    <p class="lead" style="color: green; text-decoration: underline;"><b>Hey you are safe till now from this pandemic.</b></p>
                    <p class="lead"><b>Be carefull. Wear masks and maintain social distancing.</b></p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>