<div style="margin-top: 80px;">
    <!-- Jumbotron -->
    <div class="card card-image img-fluid" style="background-image: url('images/blooddonate.jpg'); background-size: cover;">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">
                <!-- Content -->
                <h4 class="card-title h4 my-4 py-2">DONATE BLOOD, SAVE LIFE!</h4>
                <h1 class="mb-4 pb-2 px-md-5 mx-md-5">DONATE YOUR BLOOD AND INSPIRE<br>OTHERS TO DONATE.</h1>
                <a class="btn btn-danger" href="./donorForm" style="font-weight: 600; font-size:large; border-radius: 10px;">Become a Donor <i class="fas fa-arrow-right"></i></a>
                <br>
                <br>
                <a class="btn btn-danger" href="./donorlist" style="font-weight: 600; font-size:large; border-radius: 10px;">Search For Donors <i class="fas fa-arrow-right"></i></a>
            </div>
            <h2 class="card-title h1">JOIN WITH US <br> AND <br> SAVE LIFE</h2>
        </div>
    </div>
    <!-- Jumbotron -->
</div>