<div style="margin-top: 80px;">
    <div class="container-fluid" id="container">
        <div class="card text-center" id="prompt">
            <div class="card-body">
                <h3 style="text-decoration: underline; font-weight: 900; letter-spacing: 2px;">Current Status</h3>
                <div class="status" style="background-color: rgb(24, 153, 24); height: 10px; border-radius: 15px;"></div>
                <hr>
                <div class="form-row">
                    <div class="col">
                        <div class="form-check-inline">
                            <label class="form-check-label" for="radio1" style="font-size: large; font-weight: 600;">
                                  <input type="radio" class="form-check-input" id="radio1" name="optradio" value="yes"> I haven't tested positive for COVID-19.
                                </label>
                        </div>
                        <br>
                        <hr>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="radio2" style="font-size: large; font-weight: 600; letter-spacing: 0.5px;">
                                  <input type="radio" class="form-check-input" id="radio2" name="optradio" value="no"> I have tested positive for COVID-19.
                                </label>
                        </div>
                    </div>
                </div>

            </>
        </div>
    </div>

    <div class="container-fluid" id="container">
        <div class="card text-center" id="prompt">
            <div class="card-body">
                <h3 style="text-decoration: underline;">Notifications:</h3>
                <hr>
                <div class="positive">
                    <p class="lead" style="color: red; text-decoration: underline;"><b>Hey you are supposed to be in contacted with COVID-19 patient.</b></p>
                    <p class="lead"><b>So do the PCR test. Quarentine for 14 days or isolated yourself. Have a balanced diet and take rest.</b></p>
                </div>
                <hr>
                <div class="negative">
                    <p class="lead" style="color: green; text-decoration: underline;"><b>Hey you are safe till now from this pandemic.</b></p>
                    <p class="lead"><b>Be carefull. Wear masks and maintain social distancing.</b></p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>