<div style="margin-top: 80px;">
    {{> informationHeader}}
    <div style="margin: 40px;">
        <h3>Treatments:</h3>
        <hr>
        <div>
            <div class="CfnCCf"><b>Self care</b></div>
        </div>
        <hr>
        <div class="PZPZlf">
            <div class="INGOOb"><span>If you feel sick you should rest, drink plenty of fluid, and eat nutritious food. Stay in a separate room from other family members, and use a dedicated bathroom if possible. Clean and disinfect frequently touched surfaces.</span></div>
        </div>
        <br>
        <div class="PZPZlf">
            <div class="INGOOb"><span>Everyone should keep a healthy lifestyle at home. Maintain a healthy diet, sleep, stay active, and make social contact with loved ones through the phone or internet. Children need extra love and attention from adults during difficult times. Keep to regular routines and schedules as much as possible.</span></div>
        </div>
        <br>
        <div class="PZPZlf">
            <div class="INGOOb"><span>It is normal to feel sad, stressed, or confused during a crisis. Talking to people you trust, such as friends and family, can help. If you feel overwhelmed, talk to a health worker or counsellor.</span></div>
        </div>
        <hr>
        <div>
            <div class="CfnCCf"><b>Medical treatments</b></div>
        </div>
        <hr>
        <div class="PZPZlf">
            <div class="INGOOb"><span>If you have mild symptoms and are otherwise healthy, self-isolate and contact your medical provider or a COVID-19 information line for advice.</span></div>
        </div>
        <br>
        <div class="PZPZlf">
            <div class="INGOOb"><span>Seek medical care if you have a fever, cough, and difficulty breathing. Call in advance.</span></div>
        </div>
        <hr>
        <div class="PZPZlf">
            <div class="INGOOb"><span>For informational purposes only. Consult your local medical authority for advice.</span></div>
        </div>
    </div>
</div>